{% extends 'base.html.twig' %}

{% block title %}Nous Contactez !!{% endblock %}

{% block body %}
  <div class="container>
    <h2>Formulaire de contact</h2>

    <p> mail envoyer</p>

  </div>
{% endblock %}
